body {
   overflow-x: hidden;
}

/* HERO AND NAV STYLING */

/* move the nav links to the left of the nav */
.navBar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
   height: 5rem;
   min-height: 5rem;
}

nav {
   margin-right: 1rem;
}

/* positioning the logo absolute on the left side of the page */
.logoWrap {
   position: absolute;
   top: 2rem;
   left: 2vw;
}
.logo {
   font-size: 1.5rem;
}

/* this will center the titles over the hero image */
.heroImageDiv {
   display: relative;
   text-align: center;
   width: 100vw;
   min-height: 45vh;
}
.heroImage {
   width: 100vw;
   height: 45vh;
   min-height: 45vh;
   object-fit: cover;
}
.title,
.subtitle {
   position: absolute;
   top: 25vh;
   left: 50vw;
   transform: translate(-50%, -50%);
   font-size: 2.5em;
   text-shadow: -2px 3px #00000081;
}
.subtitle {
   top: 35vh;
   font-size: 1.5em;
   font-weight: 700;
}

/* outline effect for button hover */
button:hover,
nav > span:hover {
   outline: 1px solid var(--text-nav);
   outline-offset: -4px;
}

/* Quick link PNGs */
.penImg,
.topperImg {
   min-height: 200px;
   min-width: 30px;
   height: 30%;
   width: 30%;
   padding-bottom: 1rem;
}

.topperImg {
   min-width: 75px;
}

.pens,
.stoppers {
   font-size: 1.3rem;
}

/* buttons, 3 wide under hero image */
.quickLinks {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.quickLinks button {
   margin-top: 10rem;
   padding: 0.5rem 3rem;
   font-size: 1.5em;
}

/* <h1>, <p> on contact, about, products
h1 {
   margin: 0.5rem;
}
p {
   margin: 1rem;
} */

/* for products grid */
.flex-wrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 2rem;
}

.grid-wrapper {
   display: grid;
   margin: 5vh;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 2vh 2vh;
   grid-template-areas:
      ". . . "
      ". . . "
      ". . . ";
}

.productDiv {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 15rem;
   border: thin solid black;
   margin: 1.5rem 3rem;
   padding: 2rem;
}

.productImg {
   width: 8rem;
   height: 8rem;
   border: 1px solid grey;
   margin-bottom: 0.5rem;
}

.productImg p, .productImg button {
   padding: 0.5rem;
   margin: 0.5rem;
}

/* The products page header (h1, p, select) */
.product-header {
   display: flex;
   flex-direction: row;
   margin: 1rem;
}
/* pusing p and select to the right of screen */
.product-header h1 {
   margin-right: 70vw;
}
/* using margins to align p and select better */
.product-header p {
   margin: 0.5rem 2rem 0 0;
}


/* product details page  */
.prodDetail {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

#image {
   margin: 5rem 2.5rem 0 8rem;
}

#image img {
   height: 25rem;
   width: 25rem;
   border: thin solid var(--text-content);
}

#description {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#description p {
   font-size: 16pt;
}

#description hr {
   margin: 0.5rem 0 1.5rem 0;
   width: 10rem;
   border-top: thin solid var(--text-content);
}