/* Disable the homepage about us button on desktop */
#aboutUsBtn {
   display: none;
}

/* HERO AND NAV STYLING */
.logo {
   margin: 0 2rem;
}

/* this will center the titles over the hero image */
.heroImageDiv {
   display: relative;
   text-align: center;
   width: 100vw;
   min-height: 45vh;
}
.heroImage {
   width: 100vw;
   height: 45vh;
   min-height: 45vh;
   object-fit: cover;
}
.title,
.subtitle {
   position: absolute;
   top: 25vh;
   left: 50vw;
   transform: translate(-50%, -50%);
   font-size: 2.5em;
   text-shadow: -2px 3px #00000081;
}
.subtitle {
   top: 35vh;
   font-size: 1.5em;
   font-weight: 700;
}

/* outline effect for button hover */
button:hover,
nav > span:hover {
   outline: 1px solid var(--clr-green);
   outline-offset: -4px;
   border: 1px solid green;
}

/* Quick link PNGs */
.penImg,
.stopperImg {
   max-height: 14rem;
   max-width: 1.75rem;
   min-height: 14rem;
   min-width: 1.75rem;
   padding-bottom: 1rem;
}
.penImg,
.stopperImg,
.pens p,
.stoppers p {
   cursor: pointer;
}
.stopperImg {
   min-width: 6rem;
}
.pens,
.stoppers {
   font-size: 1.3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
/* buttons, 3 wide under hero image */
.quickLinks {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 10rem;
}
.allProds {
   display: flex;
   align-items: center;
   justify-content: center;
}
.allProdsBtn {
   padding: 0.5rem 3rem;
   font-size: 1.5em;
}

/* for products grid */
.flex-wrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 2rem;
}
.grid-wrapper {
   display: grid;
   margin: 5vh;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 2vh 0;
   grid-template-areas:
      ". . . "
      ". . . "
      ". . . ";
}
.productDiv {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 20vw;
   margin: 1.5rem 1rem;
   padding: 2rem;
   white-space: nowrap;
}
.productImg p,
.productImg button {
   padding: 0.5rem;
   margin: 0.5rem;
}
/* The products page header (h1, p, select) */
.product-header {
   position: relative;
   display: flex;
   flex-direction: row;
   margin: 1rem;
}
.product-header h1 {
   position: absolute;
   left: 1rem;
}
/* filter drop down styling */
.selectWrap {
   border: 1px solid var(--clr-white);
   padding: 0.25rem;
   width: fit-content;
   background-color: var(--clr-grey);
   display: flex;
   flex-direction: column;
   position: absolute;
   right: 1rem;
}
.selectWrap label {
   font-size: 10px;
   text-transform: uppercase;
   color: var(--clr-white);
   padding: 0.125rem 0;
   text-align: center;
}
#productSelect {
   background-color: var(--clr-grey);
   color: var(--clr-white);
}
#productSelect option {
   color: var(--clr-white);
}
#productSelect option:focus {
   outline: none;
}


/* product details page  */
.prodDetail {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0;
   margin: 0;
   padding: 10vh 5vw;
}
#image {
   display: flex;
   align-items: center;
   justify-content: center;
}
#image img {
   height: 26rem;
   width: 20rem;
   border: thin solid var(--clr-grey);
}
#description {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
#description p {
   font-size: 16pt;
   margin: 1.5rem 0;
}
#description hr {
   margin: 0.5rem 0 1.5rem 0;
   width: 10rem;
   border-top: thin solid var(--clr-grey);
}

/* about page */
.aboutContent {
   margin: 0 2rem;
   padding: 0 1rem;
   font-size: 1.5rem;
}
.aboutTitle {
   margin: 2rem 2rem 1rem 2rem;
   padding: 1rem;
}

/* larger font size on desktop */
footer p {
   font-size: 1rem;
}
