.prodImg {
   height: 75vh;
   width: auto;
   margin-right: 2rem;
}

.logo {
   height: 30vh;
   width: auto;
}

.introduction {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   height: 25%;
}
