.prodImg {
   height: 75vh;
   width: auto;
   margin-right: 2rem;
}

.logo {
   height: 30vh;
   width: auto;
}

.introduction {
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: 25%;
}

.introduction > div {
   display: block;
} 

.prodDiv {
   background: rgb(177, 177, 177);
   border: 1px solid grey;
   border-radius: 5px;
   filter: drop-shadow(-3px 3px 3px);
   padding: 2rem;
   height: fit-content;
   width: auto;
   margin: 1rem 0 0 0;
}
