.wrapper, body {
   height: 100vh;
   width: 100vw;
   overflow-x: hidden;
}

/* HERO AND NAV STYLING */

/* move the nav links to the left of the nav */
.navBar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
   height: 5rem;
   min-height: 5rem;
}
nav span {
   /* 1rem=16px */
   font-size: 13px;
   padding: 0.25rem;
   margin: 0.25rem;
}
nav {
   margin-right: 0.5rem;
}
/* positioning the logo absolute on the left side of the page */
.logoWrap {
   position: absolute;
   top: 2rem;
   left: 2vw;
}
.logo {
   font-size: 1rem;
   margin: 0.25rem;
}
/* this will center the titles over the hero image */
.heroImageDiv {
   position: relative;
   width: 100vw;
   min-height: 15rem;
}
.heroImage {
   width: 100vw;
   height: 15rem;
   min-height: 15rem;
   object-fit: cover;
}
.title,
.subtitle {
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 2.5rem;
   text-shadow: -2px 3px #00000081;
}
.subtitle {
   top: 55%;
   font-size: 1rem;
   font-weight: 600;
}
/* outline effect for button hover */
button:active,
nav > span:active {
   outline: 1px solid var(--text-nav);
   outline-offset: -4px;
}

/* Disable product quicklinks on mobile */
.pens,
.stoppers {
   display: none;
}
/* buttons, 3 wide under hero image */
.quickLinks {
   margin: 3.5rem 0.5rem;
}
.allProds {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.allProdsBtn {
   padding: 2vh 5vw;
   font-size: 1rem;
}

/* for products grid */
.flex-wrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 2rem;
}
.grid-wrapper {
   display: grid;
   margin: 2vh;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   gap: 0;
   grid-template-areas:
      "."
      "."
      ".";
}
.productDiv {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   width: 11rem;
   border: thin solid black;
   margin: 1.5rem 3rem;
   padding: 2rem;
}
.productImg {
   width: 8rem;
   height: 8rem;
   border: 1px solid grey;
   margin-bottom: 0.5rem;
}
.productImg p,
.productImg button {
   padding: 0.5rem;
   margin: 0.5rem;
}
/* The products page header (h1, p, select) */
.product-header {
   display: flex;
   flex-direction: row;
   margin: 1rem;
}
/* pusing p and select to the right of screen */
.product-header h1 {
   margin: 0 70vw 0 1rem;
}
/* using margins to align p and select better */
.product-header p {
   margin: 0.5rem 2rem 0 0;
}
.product-header select {
   /* hide filtering on mobile */
   display: none;
}

/* product details page  */
.prodDetail {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   gap: 0.3rem;
   margin: 0;
   padding: 10vh 5vw;
}
#image {
   display: flex;
   align-items: center;
   justify-content: center;
}
#image img {
   height: 11rem;
   width: 11rem;
   border: thin solid var(--text-content);
}
#description {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 2rem 0;
}
#description h2 {
   /* changing to h3 fontsize for mobile */
   font-size: 1.125rem;
}
#description p {
   font-size: 0.875rem;
   margin-bottom: 1rem;
}
#description hr {
   margin: 0.5rem 0 1.5rem 0;
   width: 6rem;
   border-top: thin solid var(--text-content);
}

/* footer styling */
footer {
   position: absolute;
   width: 100%;
   height: 5rem;
   margin: 5vh 0 0 0;
   padding:0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
} 
footer p {
   margin-top: 0.25rem;
   font-size: 0.5rem;
}

/* about page */
.aboutContent,
.aboutTitle {
   margin: 2rem;
   padding: 1rem;
}
